.glyphicon {
font-size: 24px;
}

.icon-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 0;
  border-bottom: 15px;
  background: transparent;
}

h1 {
  font-size: 24px;
}
